<div class="mat-elevation-z8" *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" [formGroup]="rowForm">
  
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">

          <input type="text" class="form-control" *ngIf="positionToEdit===element.id" [value]="rowForm.get('name')?.value" formControlName="name"> 

          <span *ngIf="positionToEdit!==element.id">
            {{element.name}} 
          </span>
        </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Firstname </th>
        <td mat-cell *matCellDef="let element">
          <input type="text" class="form-control" *ngIf="positionToEdit===element.id" [value]="rowForm.get('firstname')?.value" formControlName="firstname">
          <span *ngIf="positionToEdit!==element.id">
            {{element.firstname}} 
          </span> 
        </td>
      </ng-container>
  
      <!-- mail Column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> mail </th>
        <td mat-cell *matCellDef="let element">
          <input type="text" class="form-control" *ngIf="positionToEdit===element.id" [value]="rowForm.get('mail')?.value" formControlName="mail">
           
          <span *ngIf="positionToEdit!==element.id">
            {{element.mail}} 
          </span> 
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-primary" (click)="onEditBtnClick(element)" *ngIf="positionToEdit !== element.id">
            Edit
          </button>


          <button class="btn btn-success" *ngIf="positionToEdit === element.id" (click)="validateRow(element)">
            Valider
          </button>
          <button class="btn btn-warning" *ngIf="positionToEdit === element.id" (click)="cancelRowEdition()">
            Cancel
          </button>
          
          <button  class="btn btn-danger" (click)="onRemoveBtnClick(element)" *ngIf="positionToEdit !== element.id">
            Remove
          </button>
          
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div class="pt-5" [formGroup]="uploadForm">
  <input type="file" (change)='onFileSelect($event)'> 
  <button class="btn btn-primary" type="submit" (click)="onFileSubmit()" >
    Upload
  </button>
  <!-- [disabled]='uploadForm.invalid || loading' -->
  <br>
  <br>
  <button class='btn btn-warning' (click)='downloadSample()'>Downlad sample</button>

</div>
